{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/fullcalendar/css/fullcalendar.min.css' %}" rel="stylesheet">
    <style>
        .fc-event {
            cursor: pointer;
        }
    </style>
{% endblock css %}

{% block main %}


    <div class="row">
        <div class="col">
            <h2>Create Week 8 Schedule</h2>
            <h5>Feb 4 2018 - Feb 10 2018</h5>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div id='calendar'></div>
        </div>
    </div>
{% endblock main %}

{% block modal %}
    <div class="modal fade" id="shiftModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shiftModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modal %}


{% block javascript %}
    <script src="{% static 'vendor/momentjs/js/moment.min.js' %}"></script>

    <script src="{% static 'vendor/fullcalendar/js/fullcalendar.min.js' %}"></script>

    <script>

        var current_event_element = null;
        var current_event_id = null;



        $('#shiftModal').on('shown.bs.modal', function () {
            $('#shiftModalLabel').html(current_event_id);
        });


        $(function () {

            var todayDate = moment().startOf('day');
            var YM = todayDate.format('YYYY-MM');
            var YESTERDAY = todayDate.clone().subtract(1, 'day').format('YYYY-MM-DD');
            var TODAY = todayDate.format('YYYY-MM-DD');
            var TOMORROW = todayDate.clone().add(1, 'day').format('YYYY-MM-DD');

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay,listWeek'
                },
                views: {
                    agendaWeek: {
                        allDaySlot: false
                    }
                },
                editable: false,
                eventLimit: true, // allow "more" link when too many events
                navLinks: true,
                eventClick: function (calEvent, jsEvent, view) {

                    current_event_element = $(this);
                    current_event_id = calEvent.id;
                    console.log(calEvent);


                    {#alert(calEvent.id);#}

                    $('#shiftModal').modal({});

                    // change the border color just for fun
                    {#$(this).css('border-color', 'red');#}

                },
                events: [
                    {
                        category: 'matthew',
                        id: '1134423',
                        title: 'Long Event',
                        start: YM + '-07',
                        end: YM + '-10',
                        backgroundColor: 'rgba(0, 0, 0, .5)',
                        borderColor: 'yellow',
                    },
                    {
                        id: 2234,
                        title: 'Repeating Event',
                        start: YM + '-09T16:00:00'
                    },
                    {
                        id: 2342,
                        title: 'Repeating Event',
                        start: YM + '-16T16:00:00'
                    },
                    {
                        id: 242,
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        id: 232,
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T10:30:00',
                        end: TODAY + 'T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: TODAY + 'T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: TODAY + 'T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: TODAY + 'T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: TODAY + 'T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: TOMORROW + 'T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: YM + '-28'
                    }
                ]
            });
        });

</script>


{% endblock javascript %}
