{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="text-center h5">
        <h1 class="logo-font" style="font-size: 15rem">Shift Bot</h1>

        <h4>A shift scheduling bot &amp; webapp
        <br>
        for creating and managing hectic employee schedules.</h4>
        <br>
        <strike>YAGNI - You Aren't Going to Need It</strike>
        <br>
        YAGN<b>A</b> - You Aren't Going to Need an <b>APP</b>
        <br>
        <br>
        <p>Created by Drew Jager, Matthew Knapper, and Stephen Knapper for DHack 2018.</p>
    </div>

{% endblock main %}