{% extends 'base.html' %}

{% block main %}
    <div class="row mt-2">
        <div class="col">
            <h2>Welcome To {{ request.user.workplace.name }}'s Dashboard</h2>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <span class="text-danger">Current Week: {{ week }} of {{ year }}</span>
        </div>
        <div class="col">
            <span class="text-danger">Total Employees: {{ request.user.workplace.employee_set.all.count }}</span>
        </div>
        <div class="col">
            <span class="text-danger">Total Jobs: {{ request.user.workplace.job_set.all.count }}</span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">

        </div>
    </div>

    <a href="{% url 'schedule:schedule_create_view' year week %}" class="btn btn-primary">Create Next Weeks Schedule</a>

    <a href="{% url 'schedule:employees_view' %}" class="btn btn-primary">Employee List</a>
    <a href="{% url 'schedule:shifts_view' %}" class="btn btn-primary">Schedule</a>
    <a href="{% url 'schedule:jobs_view' %}" class="btn btn-primary">Jobs List</a>


{% endblock main %}

